@font-face {
    font-family: 'Avenir Book';
    src: url('./fonts/avenirlt45book.eot');
    src: url('./fonts/avenirlt45book.eot') format('embedded-opentype'),
         url('./fonts/avenirlt45book.woff') format('woff'),
         url('./fonts/avenirlt45book.ttf') format('truetype'),
         url('./fonts/avenirlt45book.svg#AvenirLT45BookRegular') format('svg');
}
