@font-face {
    font-family: 'Quicksand Regular';
    src: url('./fonts/quicksand-regular.eot');
    src: url('./fonts/quicksand-regular.eot') format('embedded-opentype'),
         url('./fonts/quicksand-regular.woff') format('woff'),
         url('./fonts/quicksand-regular.ttf') format('truetype'),
         url('./fonts/quicksand-regular.svg#QuicksandRegular') format('svg');
}
